<form id="<%= objectUrl %>-edit"
      name="$ctrl.<%= objectName %>Edit"
      class="form-horizontal form-label-left"
      ng-submit="$ctrl.submit<%= objectTitle %>()">

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">

      <ga-panel panel-title="{{ $ctrl.<%= objectName %>.name }}" panel-sub-title="<%= objectTitle %>">
        <br>
        <form-field-text field-id="<%= objectUrl %>-name"
                         field-label="Name"
                         field-placeholder="Name"
                         field-required="true"
                         field-value="$ctrl.<%= objectName %>.name"></form-field-text>
      </ga-panel>

      <ga-panel panel-title="Actions">
        <ga-panel-actions action-form="$ctrl.<%= objectName %>Edit"
                          action-close-url="#!/<%= objectUrl %>s"
                          action-allow-delete="$ctrl.<%= objectName %>Id"
                          on-delete="$ctrl.delete<%= objectTitle %>()"></ga-panel-actions>
      </ga-panel>
    </div>
  </div>
</form>
