          <!-- Field: Description -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-description">Description</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text"
                     id="product-description"
                     name="productDescription"
                     class="form-control"
                     ng-model="$ctrl.product.nameShort">
            </div>
          </div>
