<!DOCTYPE html>
<html lang="<%%= lang %>">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%%= title %></title>

  <meta name="description" content="<%= description %>">
  <meta name="author" content="<%= author %>">
  <meta name="generator" content="<%= organization %>">

  <!--<link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>-->
  <link rel="stylesheet" href="/build/fonts/fonts.css">
  <link rel="stylesheet" href="/build/css/style.min.css?v=<%%= version %>">
  <script src="/build/js/index.min.js?v=<%%= version %>"></script>

  <meta property="og:title" content="<%%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:locale" content="<%%= lang %>" />
  <!--<meta property="og:url" content="https://" />-->
  <!--<meta property="og:image" content="" />-->
  <!--<meta property="fb:app_id" content="" />-->
</head>

<body>
<div id="loader">
  <div class="loader-container">
    <div class="wow pulse" data-wow-iteration="infinite" data-wow-duration="3s">
      <!--<img src="/images/logo.png">-->
    </div>
  </div>
</div>

<!--[if lt IE 9]><div id="ie8" class="alert alert-warning">Your browser version is deprecated</div><![endif]-->

<div id="page">
  <div id="content" class="container-fluid">
    <div class="page-header hide">
      <h1><%%= title %></h1>
    </div>
    <div class="page-content row">
      <p>Welcome to <%%= title %></p>
    </div>
  </div>
</div>

</body>
</html>
