<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>_Object_s <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li class="search">
            <input type="search"
                   class="form-control input-sm"
                   placeholder="Search"
                   ng-model="$ctrl.query"
                   aria-controls="datatable">
          </li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <table class="table table-hover dataTable">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="<%= objectName %> in $ctrl.<%= objectName %>s | filter:$ctrl.query">
            <th scope="row"><a href="#!/<%= objectUrl %>s/{{ <%= objectName %>._id }}">{{ $index + 1 }}</a></th>
            <td><a href="#!/<%= objectUrl %>s/{{ <%= objectName %>._id }}">{{ <%= objectName %>.name }}</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
